* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 0;
}

.wrapper {
  padding: 0 25px;
  background: url(img/background_wrapper.png) no-repeat 50% 50% / cover;
}


.page_1 {
  max-width: 960px;
  margin: 0 auto;
  background: url(img/put_yor_imagies.png) no-repeat 50% 50% / cover;
  text-align: center;
  position: relative;
  background-color: white;

}

.forma_1 {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom:-15px;
  left: 48%;
  border-radius: 50%;
  background: #f4f5f9 url(img/forma_1.png) no-repeat 50% 50% / 50%;
}

.header_1 {
  padding: 20px 0px;
  max-width: 565px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  width: 70px;
  height: 26px;
  background: url(img/logo.png) no-repeat 50% 50% / cover;
  vertical-align: middle;
}

.links {
  display: inline-block;
  width: calc(100% - 220px);
  vertical-align: middle;
  margin-left: calc(100% - 435px);
 text-align: justify;
}

 .links * {
  display: inline-block;
  text-decoration: none;
  color: #f4f5f9;
  font-family: "Open Sans";
  font-size: 7px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: justify;
  vertical-align: middle;
  height: 27px;
  line-height: 30px;
   border-bottom: 0.5px solid transparent;
   transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.helper {
  vertical-align: middle;
width: 100%;
height: 0;
visibility: hidden;
}

.links a:hover {
  border-bottom: 0.5px solid #e74c3c;
  color: #e74c3c;
}

.page_1 h2 {
  color: #f4f5f9;
font-family: "Source Sans Pro";
font-size: 12px;
font-weight: 400;
letter-spacing: 0.6px;
margin: 0;
margin-top: 116px;
text-align: center;
}

.page_1 h1 {
color: #f4f5f9;
font-family: "Open Sans";
font-size: 36px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 3.6px;
margin: 0;
text-align: center;
margin-top: 22px;
}

.page_1 h3 {
color: #cbc6c0;
font-family: "Open Sans";
font-size: 7px;
font-weight: 400;
line-height: 12px;
margin: 0 auto;
width: 280px;
margin-top: 23px;
}

.design_1 {
  text-align: center;
  margin-top: 22px;
}


.button_1 {
  display: inline-block;
  width: 112px;
  height: 28px;
  border: 0.5px solid #ffffff;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 7px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.12px;
  text-align: center;
  margin-right: 15px;
  line-height: 28px;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.button_2 {
  display: inline-block;
  width: 112px;
  height: 28px;
  border: 0.5px solid #ffffff;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 7px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.12px;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.buttons {
  display: inline-block;
  margin-top: 35px;
  margin-bottom: 132px;
}

.button_1:hover {
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: #e74c3c;
}

.button_2:hover {
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: #e74c3c;
}

.page_2 {
   max-width: 960px;
   margin: 0 auto;
   padding-top: 62px;
   background-color: white;
   text-align: center;
}
.box_1_page_2 {
  display: inline-block;
  cursor: pointer;
}
.box_2_page_2 {
  display: inline-block;
  cursor: pointer;
}

.box_3_page_2 {
  display: inline-block;
  cursor: pointer;
}

.box_4_page_2 {
  display: inline-block;
  cursor: pointer;
}

.page_2  h3 {
  color: #6a6a6a;
font-family: "Open Sans - Semibold";
font-size: 9px;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 0.65px;
margin: 0;
margin-top: 15px;
text-align: center;
}

.page_2 h4 {
  max-width: 129px;
  color: #999999;
font-family: "Source Sans Pro";
font-size: 6px;
font-weight: bold;
line-height: 10px;
letter-spacing: 0.45px;
text-align: center;
margin: 0;
margin-top: 20px;
}

.square{
  width: 36px;
  height: 36px;
  border: 1px solid #999999;
  opacity: 0.25;
  margin: 0 auto;
}

.square .sleek_design {
width: 100%;
height: 100%;
background: url(img/spectacles.png) no-repeat 50% 50% / 50%;
}

.box_1_page_2:hover > .square {
  transform: rotateZ(45deg);
  border: 1px solid #e74c3c;
}

.box_1_page_2:hover > .square > .sleek_design {
   transform: rotateZ(-45deg);
}

.box_1_page_2:hover h3 {
  color: #e74c3c;
}

.page_2 span {
  border-bottom: 1.5px solid #6a6a6a;;
  padding-bottom: 10px;
}

.square .clean_code {
width: 100%;
height: 100%;
background: url(img/heart.png) no-repeat 50% 50% / 50%;
}

.box_2_page_2:hover > .square {
  transform: rotateZ(45deg);
  border: 1px solid #e74c3c;
}

.box_2_page_2:hover > .square > .clean_code {
   transform: rotateZ(-45deg);
}

.box_2_page_2:hover h3 {
  color: #e74c3c;
}

.page_2 span {
  border-bottom: 1.5px solid #6a6a6a;;
  padding-bottom: 10px;
}

.box_2_page_2 {
  margin-left: 15px;
}

/**/
.square .creative_ideas {
width: 100%;
height: 100%;
background: url(img/lamp.png) no-repeat 50% 50% / 50%;
}

.box_3_page_2:hover > .square {
  transform: rotateZ(45deg);
  border: 1px solid #e74c3c;
}

.box_3_page_2:hover > .square > .creative_ideas {
   transform: rotateZ(-45deg);
}

.box_3_page_2:hover h3 {
  color: #e74c3c;
}

.box_3_page_2 {
  margin-left: 15px;
}

/****/
.square .free_support {
width: 100%;
height: 100%;
background: url(img/support.png) no-repeat 50% 50% / 50%;
}

.box_4_page_2:hover > .square {
  transform: rotateZ(45deg);
  border: 1px solid #e74c3c;
}

.box_4_page_2:hover > .square > .free_support {
   transform: rotateZ(-45deg);
}

.box_4_page_2:hover h3 {
  color: #e74c3c;
}

.box_4_page_2 {
  margin-left: 15px;
  margin-bottom: 54px;
}
.page_3 {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 70px;
 padding-left: 190px;
 padding-right: 190px;
  background-color: white;
}

#monitor {
width: 253px;
height: 203px;
background: url(img/monitor.png) no-repeat 50% 50% / cover;
position: relative;
cursor: pointer;
}

#video {
display: block;
width: 100%;
height: 75%;
transform: scale(0.01) translateY(4000px);
transition-duration: 3s;
transition-timing-function: ease-in-out;
}
.page_3 input {
  display: none;
}

#radiomonitor:checked ~ #metka label #monitor #video {
transform: scale(1);
}

#metka {
  display: inline-block;
  vertical-align: top;
}

.palka {
  display: inline-block;
  width: 3px;
  height: 18px;
  background-color: #e74c3c;
}

.text_page_3 {
  display: inline-block;
  margin-left: 40px;
  vertical-align: middle;
  max-width: calc(100% - 295px);
  margin-bottom: 74px;
}
.page_3 h1 {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-left: 18px;
  color: #6a6a6a;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.text_page_3 h2 {
  color: #999999;
  font-family: "Source Sans Pro";
  font-size: 7px;
  font-weight: 400;
  line-height: 15px;
  margin: 0;
  margin-top: 18px;
}

.button {
  width: 112px;
  height: 28px;
  background-color: #e74c3c;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 7px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06px;
  text-align: center;
  line-height: 28px;
  margin-top: 23px;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.button:hover {
  background-color: blue;
}

@media (max-width: 960px) {
  #metka {
 display: block;
 text-align: center;
}
#monitor {
  margin: 0 auto;
}

.text_page_3 {
  display: block;
  max-width: 75%;
  margin: 0 auto;
  margin-top: 20px;
}
.button {
  margin: 0 auto;
}
.page_3 {
  padding: 25px;
}

}

.page_4 {
  max-width: 960px;
  margin: 0 auto;
  font-size: 0;
}

.left_cont {
  display: inline-block;
  background-color: #202020;
  width: 55%;
  vertical-align: top;
  min-height: 384px;
  position: relative;

}

.cirkle_1 {
  position: absolute;
  padding: 2.5px;
  right: -16px;
  top: 39%;
  width: 37px;
  height: 37px;
  background-color: rgba(255,255,255,0.25);
  border-radius: 50%;
}

.cirkle_1_body {
  width: 32px;
  height:32px;
  background: #f4f5f9 url(img/web_design.png) no-repeat 50% 50% / 50%;
  border-radius: 50%;
}
/**/

.cirkle_2 {
  position: absolute;
  padding: 2.5px;
  right: -16px;
  top: 63%;
  width: 37px;
  height: 37px;
  background-color: rgba(255,255,255,0.25);
  border-radius: 50%;
}

.cirkle_2_body {
  width: 32px;
  height:32px;
  background: #f4f5f9 url(img/print_design.png) no-repeat 50% 50% / 50%;
  border-radius: 50%;
}

.cirkle_3 {
  position: absolute;
  padding: 2.5px;
  right: -16px;
  top: 86%;
  width: 37px;
  height: 37px;
  background-color: rgba(255,255,255,0.25);
  border-radius: 50%;
}

.cirkle_3_body {
  width: 32px;
  height:32px;
  background: #f4f5f9 url(img/photography.png) no-repeat 50% 50% / 50%;
  border-radius: 50%;
}
/**/

.right_cont {
  display: inline-block;
  background: url(img/brc.png) no-repeat 50% 50% / cover;
  width: 45%;
  min-height: 384px;
  vertical-align: top;
}

.left_cont .palka {
  display: inline-block;
  float: right;
  vertical-align: middle;
  margin-top: 78px;
  margin-left: 18px;
  margin-right: 58px;
}

.left_cont h1 {
  display: inline-block;
  margin: 0;
  margin-top: 75px;
  color: #f4f5f9;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  vertical-align: middle;
  margin-left: calc(100% - 220px);
}

.left_cont h2 {
  display: block;
  color: #e74c3c;
  font-family: "Open Sans - Semibold";
  font-size: 9px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  text-align: right;
  margin-top: 39px;
  margin-right: 58px;
}


.left_cont h3 {
  color: #999999;
  font-family: "Source Sans Pro";
  font-size: 7px;
  font-weight: 400;
  margin: 0px;
  margin-right: 58px;
  margin-top: 10px;
  margin-left: calc(100% - 345px);
  text-align: right;
  line-height: 15px;
}

.left_cont .text_under_print_design {
  color: #999999;
  font-family: "Source Sans Pro";
  font-size: 7px;
  font-weight: 400;
  margin: 0px;
  margin-right: 58px;
  margin-top: 10px;
  margin-left: calc(100% - 285px);
  text-align: right;
  line-height: 15px;
}


@media (max-width: 960px)  {

.left_cont h3 {
  color: #999999;
  font-family: "Source Sans Pro";
  font-size: 7px;
  font-weight: 400;
  margin: 0px;
  margin-right: 25px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  line-height: 15px;
}
.left_cont .text_under_print_design {
    color: #999999;
  font-family: "Source Sans Pro";
  font-size: 7px;
  font-weight: 400;
  margin: 0px;
  margin-right: 25px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  line-height: 15px;
}
.left_cont h1 {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 75px;
  color: #f4f5f9;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  vertical-align: middle;

}
.left_cont .palka {
  display: none;
}

.left_cont h2 {
  margin: 0 auto;
  margin-top: 39px;
  text-align: center;
}

}

.page_5 {
  max-width: 960px;
  margin: 0 auto;
  font-size: 0;
  background-color: white;
  padding-top: 70px;
}

.page_5 h1 {
  color: #6a6a6a;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  margin: 0;
  text-align: center;
}

.page_5 h2 {
  color: #999999;
  font-family: "Open Sans";
  font-size: 7px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  margin-top: 15px;
}

.page_5 .design_1 {
  margin-top: 15px;
}

.links_page_5 {
  color: #999999;
  font-family: "Open Sans";
  font-size: 7px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.links_page_5 {
margin: 0 auto;
 text-align: justify;
 margin-left: calc((100% - 350px) / 2);
 margin-right: calc((100% - 350px) / 2);
 margin-top: 35px;
}

 .links_page_5 * {
  display: inline-block;
  text-decoration: none;
 color: #999999;
  font-family: "Open Sans";
  font-size: 7px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: justify;
  vertical-align: middle;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.helper {
  vertical-align: middle;
width: 100%;
height: 0;
visibility: hidden;
}

.links_page_5 a:hover {
  color: #e74c3c;
}

.cont_page_5 {
  margin-top: 15px;
}

.box_1_page_5 {
  display: inline-block;
  width: calc(100% / 4);
  padding-top: calc(100% / 4);
  background: url(img/box_1_page_5.png) no-repeat 50% 50% / cover;
  position: relative;
}

.box_1_page_5 .bcg{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  background-color: rgba(231, 76, 60, 0.8);
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

.box_1_page_5 .textbox {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.box_2_page_5 .bcg{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  background-color: rgba(231, 76, 60, 0.8);
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

.box_2_page_5 .textbox {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

/**/
.box_3_page_5 .bcg{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  background-color: rgba(231, 76, 60, 0.8);
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

.box_3_page_5 .textbox {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.box_4_page_5 .bcg{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  background-color: rgba(231, 76, 60, 0.8);
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

.box_4_page_5 .textbox {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.box_5_page_5 .bcg{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  background-color: rgba(231, 76, 60, 0.8);
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

.box_5_page_5 .textbox {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.box_6_page_5 .bcg{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  background-color: rgba(231, 76, 60, 0.8);
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

.box_6_page_5 .textbox {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.box_7_page_5 .bcg{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  background-color: rgba(231, 76, 60, 0.8);
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

.box_7_page_5 .textbox {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.box_8_page_5 .bcg{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  background-color: rgba(231, 76, 60, 0.8);
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

.box_8_page_5 .textbox {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

/**/

.palka_2 {
  width: 22px;
  height: 2px;
  background-color: #ffffff;
  margin-top: 70%;
  margin-left: 25px;
}

.textbox h1 {
  color: #ffffff;
  font-family: "Source Sans Pro - Semibold";
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  text-align: left;
  margin: 0;
  margin-top: 7%;
  margin-left: 25px;

}

.textbox h2 {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 7px;
  font-weight: 400;
  letter-spacing: 0.35px;
  text-align: left;
  margin: 0;
  margin-top: 5%;
  margin-left: 25px;
}


.box_2_page_5 {
  display: inline-block;
  width: calc(100% / 4);
  padding-top: calc(100% / 4);
  background: url(img/box_2_page_5.png) no-repeat 50% 50% / cover;
  position: relative;
}

.box_3_page_5 {
  display: inline-block;
  width: calc(100% / 4);
  padding-top: calc(100% / 4);
  background: url(img/box_3_page_5.png) no-repeat 50% 50% / cover;
  position: relative;
}

.box_4_page_5 {
  display: inline-block;
  width: calc(100% / 4);
  padding-top: calc(100% / 4);
  background: url(img/box_4_page_5.png) no-repeat 50% 50% / cover;
  position: relative;
}

.box_5_page_5 {
  display: inline-block;
  width: calc(100% / 4);
  padding-top: calc(100% / 4);
  background: url(img/box_5_page_5.png) no-repeat 50% 50% / cover;
  position: relative;
}

.box_6_page_5 {
  display: inline-block;
  width: calc(100% / 4);
  padding-top: calc(100% / 4);
  background: url(img/box_6_page_5.png) no-repeat 50% 50% / cover;
  position: relative;
}

.box_7_page_5 {
  display: inline-block;
  width: calc(100% / 4);
  padding-top: calc(100% / 4);
  background: url(img/box_7_page_5.png) no-repeat 50% 50% / cover;
  position: relative;
}

.box_8_page_5 {
  display: inline-block;
  width: calc(100% / 4);
  padding-top: calc(100% / 4);
  background: url(img/box_8_page_5.png) no-repeat 50% 50% / cover;
  position: relative;
}

.box_1_page_5:hover > .bcg {
   opacity: 1;
}

.box_1_page_5:hover > .textbox {
   opacity: 1;
}

.box_2_page_5:hover > .bcg {
   opacity: 1;
}

.box_2_page_5:hover > .textbox {
   opacity: 1;
}

.box_3_page_5:hover > .bcg {
   opacity: 1;
}

.box_3_page_5:hover > .textbox {
   opacity: 1;
}

.box_4_page_5:hover > .bcg {
   opacity: 1;
}

.box_4_page_5:hover > .textbox {
   opacity: 1;
}

.box_5_page_5:hover > .bcg {
   opacity: 1;
}

.box_5_page_5:hover > .textbox {
   opacity: 1;
}

.box_6_page_5:hover > .bcg {
   opacity: 1;
}

.box_6_page_5:hover > .textbox {
   opacity: 1;
}

.box_7_page_5:hover > .bcg {
   opacity: 1;
}

.box_7_page_5:hover > .textbox {
   opacity: 1;
}

.box_8_page_5:hover > .bcg {
   opacity: 1;
}

.box_8_page_5:hover > .textbox {
   opacity: 1;
}

@media (max-width: 760px) {
  .box_1_page_5 {
    display: block;
    margin: 0 auto;
    width: 35%;
    padding-top: 35%;
  }

  .box_2_page_5 {
    display: block;
    margin: 0 auto;
    width: 35%;
    padding-top: 35%;
    margin-top: 10px;

  }

  .box_3_page_5 {
    display: block;
    margin: 0 auto;
    width: 35%;
    padding-top: 35%;
    margin-top: 10px;

  }

  .box_4_page_5 {
    display: block;
    margin: 0 auto;
    width: 35%;
    padding-top: 35%;
    margin-top: 10px;
  }

  .box_5_page_5 {
    display: block;
    margin: 0 auto;
    width: 35%;
    padding-top: 35%;
    margin-top: 10px;
  }

  .box_6_page_5 {
    display: block;
    margin: 0 auto;
    width: 35%;
    padding-top: 35%;
    margin-top: 10px;
  }

  .box_7_page_5 {
    display: block;
    margin: 0 auto;
    width: 35%;
    padding-top: 35%;
    margin-top: 10px;
  }

  .box_8_page_5 {
    display: block;
    margin: 0 auto;
    width: 35%;
    padding-top: 35%;
    margin-top: 10px;
  }
}

.page_6 {
  max-width: 960px;
  margin: 0 auto;
  background-color: #f4f5f9;
  padding-top: 75px;
  font-size: 0;
}

.page_6 h1 {
  color: #6a6a6a;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  margin: 0 auto;
  text-align: center;
}

.page_6 h2 {
  color: #999999;
  font-family: "Open Sans";
  font-size: 7px;
  font-weight: 400;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}

.cont_page_6 {
  position: relative;
  padding-bottom: 75px;
}

.cont_page_6 .left_box {
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 35%;
  position: absolute;
  top:25px;
  left: 19%;
}

.cont_page_6 .right_box {
  width: 31%;
  padding-top: 360px;
  background: url(img/bcg_right_box.png) no-repeat 50% 50% / cover;
  margin-left: 49%;
  margin-top: 28px;
}


.romb {
  width: 65px;
  height: 65px;
  margin: 0 auto;
  transform: rotateZ(45deg);
  background: #e74c3c;
}

.romb div {
  width: 100%;
  height: 100%;
  background: url(img/white_lamp.png) no-repeat 50% 50% / 25%;
  transform: rotateZ(-45deg);
}

.left_box h1 {
  color: #6a6a6a;
  font-family: "Open Sans - Semibold";
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.65px;
  margin: 0;
  text-align: center;
  margin-top: 30px;
}

.page_6 span {
  border-bottom: 1.5px solid #6a6a6a;;
  padding-bottom: 10px;
}

.left_box h2 {
  color: #999999;
  font-family: "Source Sans Pro";
  font-size: 7px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.left_box a {
  display: block;
  width: 72px;
  height: 25px;
  margin: 0 auto;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: #e74c3c;
  color: #ffffff;
  font-family: "Open Sans - Semibold";
  font-size: 6px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  text-align: center;
  text-decoration: none;
  line-height: 25px;
  margin-top: 24px;
  margin-bottom: 25px;
}

.left_box input {
  display: none;
}

#slide {
  display: block;
  margin: 0 auto;
  max-width: 44px;
}

#radio1 ~ #slide label:nth-child(1),
#radio2 ~ #slide label:nth-child(2),
#radio3 ~ #slide label:nth-child(3) {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #f4f5f9;
  cursor: pointer;
}

#radio1 ~ #slide label:nth-child(1),
#radio2 ~ #slide label:nth-child(2) {
  margin-right: 4px;
}

#radio1:checked ~ #slide label:nth-child(1),
#radio2:checked ~ #slide label:nth-child(2),
#radio3:checked ~ #slide label:nth-child(3) {
  background-color:#e74c3c;
}

@media (max-width: 760px) {
  .cont_page_6 .right_box {
    width: 75%;
    padding-top: 35%;
    margin: 0 auto;
    margin-top: 260px;
  }

  .cont_page_6 .left_box {
   top: -250px;
   left: 25%;
   width: 50%;
}
}

@media (max-width: 500px) {
 .cont_page_6 .right_box {
    display: none;
  }

    .cont_page_6 .left_box {
   position: relative;
   width: 75%;
   margin: 0 auto;
   top: 0;
   left: 0;
   margin-top: 20px;
}
}

.page_7 {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 80px;
  padding-bottom: 70px;
  background: url(img/bcg_p7.png) no-repeat 50% 50% / cover;
  text-align: center;
}
.User_Favourites, .Posts_Last_24_Hours, .Total_Posts, .Campaigns, .Amazing_Features, .for_media {
  display: inline-block;
}
.Posts_Last_24_Hours, .Total_Posts, .Campaigns, .Amazing_Features {
margin-left: 10%;
}
.page_7 .box1 {
  margin: 0 auto;
  width: 56px;
  height: 56px;
  background: url(img/white_heart.png) no-repeat 50% 50% / 25%;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.page_7 .box2 {
   margin: 0 auto;
  width: 56px;
  height: 56px;
  background: url(img/box_2_p7.png) no-repeat 50% 50% / 25%;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.page_7 .box3 {
   margin: 0 auto;
  width: 56px;
  height: 56px;
  background: url(img/bcg_box3_p7.png) no-repeat 50% 50% / 25%;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.page_7 .box4 {
   margin: 0 auto;
  width: 56px;
  height: 56px;
  background: url(img/bcg_box4_p7.png) no-repeat 50% 50% / 25%;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.page_7 .box5 {
   margin: 0 auto;
  width: 56px;
  height: 56px;
  background: url(img/bcg_box5_p7.png) no-repeat 50% 50% / 25%;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.page_7 h1 {
  margin: 0;
  text-align: center;
  color: #f4f5f9;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.75px;
  line-height: 35px;
  margin-top: 10px;
}

.page_7 h2 {
   margin: 0;
  text-align: center;
  color: #f4f5f9;
  font-family: "Source Sans Pro";
  font-size: 9px;
  font-weight: 400;
}



@media (max-width: 950px) {
.Amazing_Features {
  margin-top: 25px;
  margin-right: 10%;
}
}

@media (max-width: 420px) {
.Amazing_Features {
  margin-top: 25px;
  margin-right: 10%;
}
.Campaigns{
   margin-top: 25px;
  margin-right: 10%;
}
}


.page_8 {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
  padding-top: 75px;
  padding-left: 185px;
  padding-right: 185px;
  padding-bottom: 70px;
}

.page_8 h1 {
  color: #6a6a6a;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  margin:0;
}

.page_8 h2 {
  color: #999999;
  font-family: "Open Sans";
  font-size: 7px;
  font-weight: 400;
  margin: 0;
  margin-top: 15px;
}

.starter {
  display: inline-block;
  position: relative;
  text-align: center;
  max-width: 190px;
  margin-top: 50px;
}

.starter:hover > .top{
  background-color: red;
}

.starter:hover > .bottom .button{
  background-color: red;
}

.starter:hover > .circle_cont .text_circle ,
.starter:hover > .circle_cont .text_circle_under{
  color: red;
}

.circle_bcg {
  position: absolute;
  width: 85px;
  height: 85px;
  background-color: #f4f5f9;
  opacity: 0.25;
  border-radius: 50%;
  top: 65px;
  left: 55px;
}

.page_8 .circle_cont {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: #ffffff;
  border-radius: 50%;
  top: 70px;
  left: 60px;
}

.text_circle {
  color: #999999;
  margin-top: 15px;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 700;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.text_circle_under {
  color: #999999;
  font-family: "Source Sans Pro";
  font-size: 7px;
  font-weight: 700;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.starter .top {
  display: block;
  height: 105px;
  background-color: #999999;
  width: 190px;
  padding-top: 25px;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.starter .bottom {
  background-color: #f4f5f9;
   padding-top: 60px;
  padding-left: 47px;
  padding-right: 47px;
  padding-bottom: 35px;
}

.starter h1{
  display: block;
  color: #ffffff;
  font-family: "Open Sans - Semibold";
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  margin: 0px;
}

.starter h2{
  display: block;
  color: #999999;
  font-family: "Open Sans - Semibold";
  font-size: 7px;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
  margin-bottom: 25px;

}

.starter .button {
  display: block;
  width: 70px;
  height: 25px;
  background-color: #999999;
  color: #ffffff;
  font-family: "Open Sans - Semibold";
  font-size: 6px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin: 0 auto;
}

/**/
.premium {
  display: inline-block;
  position: relative;
  text-align: center;
  max-width: 190px;
  margin-left: 7px;
  margin-top: 50px;
}

.premium:hover > .top{
  background-color: red;
}

.premium:hover > .bottom .button{
  background-color: red;
}

.premium:hover > .circle_cont .text_circle ,
.premium:hover > .circle_cont .text_circle_under{
  color: red;
}

.premium .top {
  display: block;
  height: 105px;
  background-color: #999999;
  width: 190px;
  padding-top: 25px;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.premium .bottom {
  background-color: #f4f5f9;
   padding-top: 60px;
  padding-left: 47px;
  padding-right: 47px;
  padding-bottom: 35px;
}

.premium h1{
  display: block;
  color: #ffffff;
  font-family: "Open Sans - Semibold";
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  margin: 0px;
}

.premium h2{
  display: block;
  color: #999999;
  font-family: "Open Sans - Semibold";
  font-size: 7px;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
  margin-bottom: 25px;

}

.premium .button {
  display: block;
  width: 70px;
  height: 25px;
  background-color: #999999;
  color: #ffffff;
  font-family: "Open Sans - Semibold";
  font-size: 6px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin: 0 auto;
}

/**/
.business {
  display: inline-block;
  position: relative;
  text-align: center;
  max-width: 190px;
  margin-left: 7px;
  margin-top: 50px;
}

.business:hover > .top{
  background-color: red;
}

.business:hover > .bottom .button{
  background-color: red;
}

.business:hover > .circle_cont .text_circle ,
.business:hover > .circle_cont .text_circle_under{
  color: red;
}

.business .top {
  display: block;
  height: 105px;
  background-color: #999999;
  width: 190px;
  padding-top: 25px;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.business .bottom {
  background-color: #f4f5f9;
   padding-top: 60px;
  padding-left: 47px;
  padding-right: 47px;
  padding-bottom: 35px;
}

.business h1{
  display: block;
  color: #ffffff;
  font-family: "Open Sans - Semibold";
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  margin: 0px;
}

.business h2{
  display: block;
  color: #999999;
  font-family: "Open Sans - Semibold";
  font-size: 7px;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
  margin-bottom: 25px;

}

.business .button {
  display: block;
  width: 70px;
  height: 25px;
  background-color: #999999;
  color: #ffffff;
  font-family: "Open Sans - Semibold";
  font-size: 6px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
.page_8 {
  padding-left: 75px;
  padding-right: 75px;
}
}
@media (max-width: 580px) {
.starter, .premium, .business {
  margin-left: 0px;
}

}

.page_9 {
  max-width: 960px;
  height: 370px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  background: url(img/bcg9_1.png) no-repeat 0% 100% / 105% 65%, url(img/bcg9.png) no-repeat 50% 50% / cover;
}

.elips_1 {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 72%;
  left: 15%;
  border:2px solid #e74c3c;
  border-radius: 50%;
  background: url(img/Ellipse_1.png) no-repeat 50% 50% / cover;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.elips_2 {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 65%;
  left: 31%;
  border:2px solid #e74c3c;
  border-radius: 50%;
  background: url(img/Ellipse_2.png) no-repeat 50% 50% / cover;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.elips_3 {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 63%;
  left: 49%;
  border:2px solid #e74c3c;
  border-radius: 50%;
  background: url(img/Ellipse_3.png) no-repeat 50% 50% / cover;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.elips_4 {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 67%;
  left: 66%;
  border:2px solid #e74c3c;
  border-radius: 50%;
  background: url(img/Ellipse_4.png) no-repeat 50% 50% / cover;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.elips_5 {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 60%;
  left: 84%;
  border:2px solid #e74c3c;
  border-radius: 50%;
  background: url(img/Ellipse_5.png) no-repeat 50% 50% / cover;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.fon {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #e74c3c;
  opacity: 0;
  border-radius: 50%;
  animation-name: fon_reverse;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes fon {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes fon_reverse {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.elips_1:hover, .elips_2:hover, .elips_3:hover, .elips_4:hover, .elips_5:hover {
  transform: scale(1.35);
}

.elips_1:hover > .fon, .elips_2:hover > .fon, .elips_3:hover > .fon, 
.elips_4:hover > .fon, .elips_5:hover > .fon {
  opacity: 0.5;
  animation-name: fon;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.elips_1:hover > .text_about, .elips_2:hover > .text_about, .elips_3:hover > .text_about,
.elips_4:hover > .text_about, .elips_5:hover > .text_about {
  opacity: 1;
  animation-name: fon;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.text_about {
  position: absolute;
  text-align: center;
  width: 87px;
  top: 110%;
  left: -140%;
  opacity: 0;
  animation-name: fon_reverse;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.page_9 h1 {
  color: #e74c3c;
  font-family: "Open Sans - Semibold";
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.page_9 h2 {
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 5px;
  font-weight: bold;
  line-height: 10px;
  letter-spacing: 0.7px;
}

.ukazatel {
  margin: 0 auto;
  width: 0.5px;
  height: 15px;
  background-color: white;
}